.main {
  padding: 40px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #e5e7eb;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}
.from {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
  color: black;
}
